.form {
    display: flex;
    justify-content: center;
}

.input {
    left: 38px;
    position: relative;
    border-radius: 5px;
    font-size: 28px;
}


.buttonSearch {
    display: flex;
    position: relative;
    align-items: center;
    left: 40px;
    
    text-transform: none;
    text-decoration: none;
    
    font-size: 19px;
    
    font-family: var(--font-family);
    background-color: #95BFFF;
    
    border: none;
    border-radius: 5px;

    color: var(--black);
}



.buttonSearch:hover {
    background-color: #559AFF;
}