.form {
    display: flex;
    justify-content: center;
}

.input {
    left: 38px;
    position: relative;
    border-radius: 5px;
    font-size: 25px;
}


.buttonSearch {
    display: list-item;
    position: relative;
    left: 40px;
    
    font-family: var(--font-family);
    background-color: #95BFFF;
    
    border: none;
    border-radius: 5px;

    color: var(--black);
}

.buttonSearch:hover {
    background-color: #559AFF;
}