
.main{
    width: 700px;
    border-radius: 15px;
    background-color: var(--blue);
}

.wi {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.list {
    display: flex;
    align-items: center;
}

.desc {
    display: flex;
    justify-content: center;
}


.header{
    background-color: var(--blue);

    display: flex;

    border-radius: 15px;
    border: solid var(--blue);
    color: white;
    padding: 10px;

    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
}

.list-header {
    display: flex;
    margin-left: 50px;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    justify-content: center;
    font-weight: 600;
}

.humidity {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.date {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.temp{
    padding: 15px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: center;
}