@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: 700px;
    border-radius: 15px;
    background-color: var(--blue);
}

.wi {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.list {
    display: flex;
    align-items: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.ui.card.list {
    background-color: #C8DDFC;
    left: 50%;
    transform: translateX(-50%);
}

.header{
    background-color: var(--blue);

    border-radius: 15px;
    border: solid var(--blue);

    color: white;
    padding: 10px;

    font-size: 28px;
    font-family: 'Recursive', sans-serif;
}

.h1 {
    display: flex;
    position: relative;

    justify-content: center;

    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    justify-content: center;
    font-weight: 600;
}

.humidity {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.date {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.temp{
    padding: 15px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: center;
}