html,
body {
  overflow-x: hidden;

  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;

  background: #F5F6F8;

  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}
