.wrapper {
    position: relative;
    background-color: var(--black);
    height: 100px;
    width: auto;
}

.headerApp {
    display: flex;
    flex-wrap: nowrap;

    width: 100px;
    margin: 10px;
    
    position: relative;
    color: aliceblue;
    font-size: 25px;
}